.row {
    width: 100%;
    background-color: white;
    display: flex;
    flex-shrink: 100%;
}
.col{
    margin: 20px;
    padding: 20px;
    color: white;
    background-color: Teal;
    display: flex;
    flex: 1;
    
}
.col-2{
    margin: 20px;
    padding: 20px;
    color: white;
    background-color: Teal;
    display: flex;
    flex: 2;
}
.col-3{
    margin: 20px;
    padding: 20px;
    color: white;
    background-color: Teal;
    display: flex;
    flex: 3;
}

