#background {
    width: 100%;
    background-color: silver;
    display: flex;
    flex-direction: column;
}
h1{
    text-align: center;
}

img {
    height: 200px;
}
#ligne2{
    display: flex;
    padding: 20px;
    background-color: DeepSkyBlue;
    justify-content: space-between;
    margin: 0px 20px 20px 20px;
}
#ligne3{
    display: flex;
    padding: 20px;
    background-color: LightPink;
    justify-content: space-evenly;
    margin: 0px 20px 20px 20px;
}
#ligne4{
    display: flex;
    padding: 20px;
    background-color: white;
    justify-content: space-between;
    margin: 20px 20px 20px 20px;
}